@page "/SchoolLevel/View"
@using LMS.Shared.Models;
@inject NavigationManager Navigate
@inject HttpClient HttpModule
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject IToastService toastService
@inject IJSRuntime JsRuntime

<h1>List of SchoolLevels</h1>
@if(this.errorMessage != null){
    <div class="alert alert-danger my-5" role="alert">
      @errorMessage <a @onclick="errormsg" class="alert-link">Go to home page</a>. Click on link.
    </div>
}
@if (SchoolLevels == null){
    <div class="alert alert-danger my-5" role="alert">
      @errorMessage .
    </div>
    <button class="btn btn-primary col-4 ml-3" 
                            @onclick="CreateSchoolLevel"
                    >Add SchoolLevel</button>
    toastService.ShowInfo("NoRecord Found", "SchoolLevels");
}
else
{
    <table class="table table-responsive table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>
                    <button class="btn btn-primary col-4 ml-3" 
                            @onclick="CreateSchoolLevel"
                    >Add SchoolLevel</button>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var SchoolLevel in SchoolLevels)
            {
                <tr>
                    <td>@SchoolLevel.Name</td>
                    <td align="center">
                        <button class="btn btn-success col-4" 
                                @onclick="( () => 
                                    UpdateSchoolLevel(SchoolLevel.SchoolLevelId))"
                        >Edit</button>
                        <button class="btn btn-warning col-4" 
                                @onclick="( () => 
                                    DeleteSchoolLevel(SchoolLevel.SchoolLevelId))"
                        >delete</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IList<SchoolLevel>? SchoolLevels = new List<SchoolLevel>();
    private string? errorMessage;
    protected override async Task OnInitializedAsync()
    {
        try
        {
            try
            {
                SchoolLevels = await HttpModule.GetFromJsonAsync<List<SchoolLevel>>("api/SchoolLevels");
            }
            catch (Exception)
            {
                toastService.ShowError("Dont Have access only admin can access this page", "Error");
                errorMessage = "Dont Have access only admin can access this page";
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
            toastService.ShowInfo("Login is nessecery..", "Login");
        }
    }

    public async void DeleteSchoolLevel(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
        {
            await HttpModule.DeleteAsync($"api/SchoolLevels/{id}");
            toastService.ShowError("Deleted Successfully", "SchoolLevels");
            SchoolLevels = await HttpModule.GetFromJsonAsync<List<SchoolLevel>>("api/SchoolLevels");
            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        }
    }

    public void UpdateSchoolLevel(int id)
    {
        Navigate.NavigateTo($"SchoolLevel/Edit/{id}");
    }

    public void CreateSchoolLevel()
    {
        Navigate.NavigateTo("SchoolLevel/Create");
    }
    public void errormsg()
    {
        Navigate.NavigateTo("SchoolLevel/View");
    }
}
